header {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    position: fixed;
    top: 0; left: 0; right: 0;
    box-shadow: var(--shadow-3);
    z-index: 20;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 7%;
    border-bottom: 1px solid var(--cultured2);
}

.header-top .header-social-container {
    display: flex;
    gap: 0 1.2rem;
}

.header-top .header-social-container .social-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    border-radius: 15%;
    background: var(--cultured2);
    transition: var(--transition);
}

.header-top .header-social-container .social-link:hover {
    background: var(--salmon-pink);
    color: var(--white);
}

.header-top .header-social-container .social-link * {
    font-size: 1.8rem;
}

.header-top .header-top-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-top .header-top-actions select {
    cursor: pointer;
    color: var(--sonic-silver);
    text-transform: uppercase;
    transition: var(--transition);
}

.header-top .header-top-actions select:hover {
    color: var(--eerie-black);
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 7%;
}

.header-main .header-logo {
    font-size: 4rem;
    font-weight: 600;
    color: var(--eerie-black);
}

.header-search-container { position: relative; width: 50%; }

.header-search-container .search-bar {
    padding: 10px 15px;
    color: var(--onyx);
    border: 1px solid var(--cultured2);
    border-radius: var(--border-radius-md);
    font-size: 1.5rem;
}

.header-search-container .search-bar:is(:focus) {
    border: 2px solid var(--eerie-black);
}

.search-bar::-webkit-search-cancel-button { display: none; }

.header-search-container .search-button {
    position: absolute;
    top: 50%; right: 2px;
    transition: var(--transition);
    padding: 8px 15px;
    transform: translateY(-45%);
    color: var(--onyx);
}

.search-button:hover { color: var(--salmon-pink); }

.header-search-container .search-button * {
    font-size: 1.9rem;
}

.header-main .header-user-actions {
    display: flex;
    gap: 0 1.5rem;
}

.header-main .header-user-actions .action-btn * {
    font-size: 3rem;
    color: var(--onyx);
}

@media (max-width: 768px) {

    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 7%;
    }

    .header-main .header-user-actions {
        display: none;
    }

}

@media (max-width: 480px) {

    .header-top {
        display: none;
    }

    .header-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem 7%;
    }

    .header-main .header-logo {
        margin-bottom: 10px;
    }

    .header-search-container {
        width: 100%;
    }

}