.product-card {
    position: relative;
    background: var(--white);
    width: 20rem;
    overflow: hidden;
    height: 30rem;
    cursor: pointer;
    border-radius: var(--border-radius-md);
    transition: var(--transition);
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product-card:hover img {
    transform: scale(1.1);
}

.product-card .card-showcase {
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

.product-card .card-showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.product-card .card-icons {
    opacity: 0;
    position: absolute;
    top: 0; right: -20px;
    transform: translateY(22%);
    transition: var(--transition);
}

.product-card:hover .card-icons {
    opacity: 1;
    right: 10px;
}

.product-card .card-icons .card-icon {
    padding: .5rem .65rem;
    background: var(--white);
    color: var(--onyx);
    border-radius: var(--border-radius-sm);
    transition: var(--transition);
    margin-bottom: .5rem;
}

.product-card .card-icons .card-icon svg {
    font-size: 2rem;
}

.product-card .card-icons .card-icon:hover {
    background: var(--black-12);
    color: var(--white);
}

.product-card .card-content {
    padding: 1.5rem;
}

.product-card .card-content .price {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FF8F9C;
}

.product-card .card-content .name {
    font-size: 1.6rem;
    line-height: 1.6;
}

.product-card .card-content .details {
    position: absolute;
    bottom: 0; left: 0px; right: 0px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.product-card .card-content .details .location {
    color: var(--sonic-silver);
}

.product-card .card-content .details .sales {
    color: var(--onyx);
}

@media (max-width: 768px) {

    .product-card {
        width: 30rem;
        height: 40rem;
    }

    .product-card .card-showcase {
        height: 20rem;
    }

    .product-card .card-content .details {
        font-size: 1.4rem;
    }

}